* {
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(30, 38%, 92%);
  place-items: center;
  display: grid;
}

.card {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  border-radius: 10px;
}
#image {
  background-image: url(./images/image-product-mobile.jpg);
  background-size: cover;
  height: 252px;
  width: 100%;
}
.card .card-text span {
  font-family: "Montserrat", sans-serif;
  color: #858891;
  letter-spacing: 0.5em;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.8em;
}

.card .card-text .prices .promo-price {
  font-family: "Fraunces", serif;
  font-size: 3em;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.card .card-text .prices {
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.card .card-text .prices .original-price {
  text-decoration: line-through;
  color: #858891;
  font-family: "Montserrat", sans-serif;
  margin-left: 2em;
}
.card .card-text {
  background-color: white;
  padding: 3em;
  text-align: left;
}

.card .card-text p {
  color: #858891;
  font-family: "Montserrat", sans-serif;
  line-height: 2em;
}
.add-to-cart-button {
  background-color: hsl(158, 36%, 37%);
  border-radius: 0.5em;
  padding: 3% 20%;
  border: none;
  color: white;
  font-weight: 700;
  width: 100%;
}

.add-to-cart-button:hover,
.add-to-cart-button:focus {
  background-color: #1a4031;
}

@media (min-width: 600px) {
  .card {
    flex-direction: row;
  }
  #image {
    background-image: url(./images/image-product-desktop.jpg);
    width: 100%;
    height: 475px;
  }

  .card .card-text {
    padding: 0.8em;
  }

  h1 {
    font-size: 2em;
  }

  .card .card-text span {
    font-size: 12px;
  }
  .card-image,
  .card-text {
    flex: 50%;
  }

  .add-to-cart-button {
    padding: 5% 20%;
    margin-bottom: 10px;
  }
}
